<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" style="overflow-wrap:break-word" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <div>
                    <%= err.stack %>
                </div>
            </div>
        </div>
    </div>